name: Publish to PyPI

on:
  pull_request:
    branches: [master]
jobs:
  build-and-publish:
    name: Build and Publish to PyPI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r ./clerk/gui_automation/requirements.txt
          pip install build twine pytest

      - name: Run tests
        run: pytest

      - name: Build package
        run: python -m build